<!DOCTYPE html>
<html>
<header>
        {% load static %}
    <title>Paramètre compte premium</title>
    <link rel="stylesheet" type="text/css" href="{% static '/polls/style.css' %}">
</header>
<body>
    <h2>Paramètre</h2>
    <form method="post" action="">
        <table>
            {% csrf_token %}
            <tr>
                <td>Identifiant</td>
                <td>:</td>
                <td><input type="text" name="mail" placeholder="Identifiant LinkedIn" required></td>
            </tr>
            <tr>
                <td>Mot de passe</td>
                <td>:</td>
                <td><input type="password" name="pwd" placeholder="Mot de passe"  required></td>
            </tr>
            <tr>
                <td>Type de compte</td>
                <td>:</td>
                <td><select name="type">
                        <option value="Premium">Premium</option>
                        <option value="Normal">Normal</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Page à parcourir</td>
                <td>:</td>
                <td><input type="number" name="min" min="1" style="width: 4em;" value ="1">
                    <input type="number" name="max" style="width: 4em;" value ="10"></td>
            </tr>
            <tr>
                <td>Entreprise</td>
                <td>:</td>
                <td><input type="text" name="nomentreprise" placeholder="Entreprise" list="choixentreprise" required>
                    <datalist id="choixentreprise">
                        {% for entrepriselist in object_list %}
                            {% if entrepriselist.Nom_entreprise is not None %}
                                <option value="{{ entrepriselist.Nom_entreprise }}">
                            {% endif %}
                        {% endfor %}
                    </datalist></td>
            </tr>
            <tr>
                <td>nom de domaine de l'email</td>
                <td>:</td>
                <td><input type="text" name="domaine" placeholder="@exemple.com" list="choixdomaine" required>
                    <datalist id="choixdomaine">
                            {% for entrepriselist in object_list %}
                                {% if entrepriselist.extension is not None %}
                                    <option value="{{ entrepriselist.extension }}">
                                {% endif %}
                            {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>recherche à faire</td>
                <td>:</td>
                <td><input type="text" name="research" placeholder="directeur de projet ..."  required></td>
            </tr>
            <tr>
                <td>caractère qui sépare <br />
                    nom prénom dans l'email</td>
                <td>:</td>
                <td><input type="text" name="separation" placeholder=".;- _" required></td>
            </tr>
            <tr>
                <td><input type="submit" class="button" value="rechercher"></td>
            </tr>
        </table>
        
    </form>
</body>
</html>